.sign-up-consultant-client-child {
  position: absolute;
  top: 139.95px;
  left: 0;
  width: 9101, 81%;
  height: 747.01px;
  opacity: 0.2;
}

.gigexecs,
.vector-icon {
  position: absolute;
  top: 33.69px;
  left: 1001.15px;
  width: 18.93px;
  height: 18.93px;
}

.gigexecs {
  top: 23.82px;
  left: 61.38px;
  font-weight: 800;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #013957;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  width: 160.62px;
  height: 38.12px;
}

.gigexecs1,
.header-child {
  position: absolute;
  top: 0;
  left: 0;
}

.header-child {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #013957;
  width: 1440px;
  height: 200px;
}

.gigexecs1 {
  height: 100%;
  width: 100%;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.gigexecs-logo {
  position: relative;
  width: 145.14px;
  height: 38.12px;
  flex-shrink: 0;
}

.tabs {
  width: 572px;
  flex-shrink: 0;
}

/* .web-header {
  position: absolute;
  top: 48px;
  left: 17px;
  width: 1422px;
  display: flex;
  flex-direction: row;
  padding: 48px 112px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
} */
.web-header {
    width: 1422px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px 58px 16px;
    display: flex;
    position: absolute;
    top: 48px;
    left: 17px;
}
.header {
  position: relative;
  width: 1440px;
  height: 200px;
  flex-shrink: 0;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.icon-set {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.gigexecs3 {
  position: relative;
  font-weight: 800;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #013957;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gigexecs2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 88px;
}

.please-indicate-your,
.select-account-type {
  position: relative;
  letter-spacing: 0.04em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #013957;
}

.select-account-type {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  letter-spacing: 0.04em;
  line-height: 31px;
  font-weight: 600;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #013957;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.please-indicate-your {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #ffc20c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 14px;
  font-family: "Open Sans";
}

.image-5-icon {
  width: 128px;
  height: 130.36px;
  object-fit: cover;
  border-radius: 100px;
  flex-shrink: 0;
  position: relative;
}

.i-am-a {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 31px;
  background: #013957;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-5-parent {
  width: 25%;
  flex-flow: row;
  place-content: center flex-start;
  align-items: center;
  gap: 76px;
  display: flex;
}

.client-container {
  /* flex: 1;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 32px 40px 40px;
  align-items: flex-end;
  justify-content: flex-start; */
  border: 1px solid #0003;
  border-radius: 20px;
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 40px 40px;
  display: flex;
  align-content: space-between;
}

.client {
  flex-direction: row;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  display: flex;
}

.image-4-icon {
  position: relative;
  border-radius: 100px;
  width: 128px;
  height: 130.36px;
  flex-shrink: 0;
  object-fit: cover;
}

.image-4-parent {
  /* width: 2025px;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap: 36px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center; */
  width: 50%;
  flex-flow: row;
  place-content: center flex-start;
  align-items: center;
  gap: 30px;
  display: flex;
}

.select-user-type {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  text-align: left;
  font-size: 18px;
}

.account-selection-card,
.frame-group,
.select-user-type {
  flex-direction: column;
  justify-content: flex-start;
}

.account-selection-card {
  color: #013957;
  width: fit-content;
  box-sizing: border-box;
  text-align: center;
  font-size: 1 875rem;
  background-color: #fff;
  border-radius: 20px;
  align-items: center;
  gap: 32px;
  padding: 15px 24px 34px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 15px;
}

.frame-group {
  gap: 48px;
}

.frame-group,
.frame-wrapper,
.gigexecs4 {
  /* display: flex;
  align-items: center; */
  align-items: center;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 426px) {
  .client {
    width: 47%;
  }
  .footer-items {
   font-size: 10px;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: -29px;
    left: 6px;
}
}

@media screen and (max-width: 375px) {

  .image-5-icon,
  .image-4-icon {
    display: none;
  }
  .account-selection-card{
    width: 23%
  }
  .client {
    width: 100%;
    justify-content: flex-start;
  }
   .image-4-parent, .image-5-parent {
    width: 100%;
    height: 130px;
  }

  .gigexecs4, .footer-items-child-1, .header-child {
    display: none;
  }
  .gigexecs3{
    left: -40;
  }
  .footer-items{
   font-size: 10px;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: -22px;
    left: 40px;
  }
}


@media screen and (max-width: 320px) {
  .client {
    width: 43%;
    justify-content: flex-start;
  }

  .account-selection-card {
    width: 19%;
  }

  .image-4-parent {
    width: 147px;
  }

  .image-5-parent {
    width: 144px;
  }
  .gigexecs3{
    left: -55px;
  }
  .gigexecs4, .footer-items-child-1, .header-child {
    display: none;
  }
.footer-items {
   font-size: 10px;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: -29px;
    left: 12px;
}
}

.frame-wrapper {
  flex-direction: column;
  justify-content: flex-start;
}

.gigexecs4 {
 width: 8.14px;
    height: 68.12px;
    flex-shrink: 0;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 800;
    position: relative;
}

.footer-items-child {
  position: relative;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  width: 1px;
  height: 29px;
  flex-shrink: 0;
}

.copyright-notice {
  position: relative;
}

 copyright-policy,
.footer-items {
  font-size: 11px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.footer-items {
   font-size: 10px;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: -29px;
    left: 12px;
}

.limited-footer {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #013957;
  width: 1440px;
  height: 56px;
  flex-shrink: 0;
  font-size: 16px;
  font-family: Madera;
}

.frame-parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 29px;
  font-size: 29px;
}

.sign-up-consultant-client {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #013957;
  width: 100%;
  height: 994px;
  overflow: hidden;
  text-align: left;
  font-size: 30px;
  color: #fff;
  font-family: Montserrat;
}